@import "sass/kube.scss";

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #eee;
}

.logo {
  width: 120px;
}

.header-top {
  background: linear-gradient(
    180deg,
    #fff 0,
    #fff 29%,
    #fdfdfd 37%,
    #e7e6e6 86%,
    #e2e2e2
  );

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #867d67;
    margin-left: 160px;
  }
}

.header-nav {
  background-color: #867d67;
  .is-navbar {
    margin-left: 160px;
  }
  .is-navbar li {
    margin-left: 0;
    margin-right: 28px;

    a {
      color: #fff;
    }
  }
}

.sub-nav {
  .is-navbar li {
    margin-left: 14px;
  }
}

.is-inverted {
  border-width: 1px !important;
  opacity: 0.6;
}

.filter-button {
  margin-right: 8px;
  margin-bottom: 8px;

  &.is-secondary {
    border-color: #867d67;
    color: #867d67;
  }

  &.active {
    border-color: rgb(239, 65, 53);
    background-color: rgb(239, 65, 53);
    color: #fff;
  }
}

.fc__loader,
.fc__loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.fc__loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(239, 65, 53, 0.9);
  border-right: 0.4em solid rgba(239, 65, 53, 0.9);
  border-bottom: 0.4em solid rgba(239, 65, 53, 0.9);
  border-left: 0.4em solid rgba(239, 65, 53, 0.1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

@media (max-width: 700px) {
  .logo {
    width: 80px;
  }
  .is-navbar ul {
    flex-direction: row;

    li {
      margin-left: 0 !important;
      margin-right: 12px;
    }
  }
  .header-top__title,
  .header-nav .is-navbar {
    margin-left: 100px;
  }
}
